/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 main {
   padding-top: 50px;
 }

 #top-text {
   background-color: rgba(0, 0, 0, 0.6);
 }

 .index-img {
   width: 250px;
   height: auto;
 }

 .show-img {
   width: 350px;
   height: auto;
 }

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
}

/* エラーメッセージ表示時のレイアウトの崩れを抑える */
.field_with_errors {
  display: contents;
}


/*管理者・利用者のログイン・新規会員登録*/
.field {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0;
}

.log {
  font-size: 40px;
}

.pass {
  margin-top: 30px;
  margin-bottom: 10px;
}

